/* BG */

body {
    background: #FFF8F0;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    color: #55206D;

}

h1 {
    font-family: League Spartan;
    font-size: 35px;
    font-weight: 400;
    line-height: 50px;
    height: 150px;
    width: 520px;
    left: 190px;
    top: 128px;
    border-radius: nullpx;
    color: #190D37;
}

h2 {
    /* With 10+ years of developer and designer experience */
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #000000;
}

.subtitle{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #331E6A;

}