<!DOCTYPE html>
<html lang="en">

<head>
    <title>DATA WORLD</title>
    <link rel="stylesheet" type="text/css" href="static/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Inter&family=League+Spartan:wght@400;500&family=Merriweather&family=Poppins:ital,wght@0,400;1,100;1,400&display=swap"
        rel="stylesheet">
</head>

<body>
    <!--Hero SECTION-->
    <div id="hero-section">
        <!--Hero-TEXT-->
        <div class="hero-text">
            <div id="phone-email">
                <!--Email &phone-->
                (+91) 70618 05734
                <div style="float:right">
                    ashwaniraj679@mail.com
                </div>
            </div>

            <div id="name">
                <!--Name-->
                Hi, I’m Ashwani Raj
            </div>

            <!--TITLE-->
            <h1>Freelance Front-end Developer and Data Scientist</h1>

            <!--SUBTITLE-->
            <div class="subtitle">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus turpis ligula, pellentesque a elit in, convallis laoreet metus. Sed aliquet lacinia dictum. In pharetra nunc nisi, ac aliquet est pretium non. </p>
            </div>

            <!--Button-->
            <button id="contact-button" onclick="location.href='tel:7061805734'">
                Contact Me
            </button>

        </div>
        <!--Hero-IMAGE-->
        <div class="image-container">
            <img id="hero-img" src="{{url_for('static', filename='Images/hero_img.jpg')}}">
        </div>
    </div>

    <!--WHAT-I-DO-->
    <div id="description">
        <div class="overtitle">WHAT I DO</div>
        <h2>With 3+ years of developer and designer experience</h2>
        <div class="description-subtitle">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus turpis ligula, pellentesque a elit in, convallis laoreet metus. Sed aliquet lacinia dictum. In pharetra nunc nisi, ac aliquet est pretium non</p>
        </div>
        <div class="boxes-type1">
            <div id="box1">
                <div id="box-title">FRONT-END DEVELOPER</div>
                <div id="box-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus turpis ligula, pellentesque a elit in, convallis laoreet metus. Sed aliquet lacinia dictum. In pharetra nunc nisi, ac aliquet est pretium non. Fusce fringilla, sem sit amet egestas sagittis, lorem nisi aliquam metus, vitae porta ligula enim in nisl.
                </div>
            </div>
            <div id="box2">
                <div id="box-title">BACK-END DEVELOPER</div>
                <div id="box-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus turpis ligula, pellentesque a elit in, convallis laoreet metus. Sed aliquet lacinia dictum. In pharetra nunc nisi, ac aliquet est pretium non. Fusce fringilla, sem sit amet egestas sagittis, lorem nisi aliquam metus, vitae porta ligula enim in nisl.
                </div>
            </div>
            <div id="box3">
                <div id="box-title">DATA SCIENTIST</div>
                <div id="box-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus turpis ligula, pellentesque a elit in, convallis laoreet metus. Sed aliquet lacinia dictum. In pharetra nunc nisi, ac aliquet est pretium non. Fusce fringilla, sem sit amet egestas sagittis, lorem nisi aliquam metus, vitae porta ligula enim in nisl.
                </div>
            </div>
        </div>
    </div>

    <div>
        Projects
    </div>

    <div>
        Skills
    </div>

    <div>
        Questions
    </div>

    <div>
        Footer
    </div>
</body>

</html>