<!DOCTYPE html>
<html lang="en">

<head>
    <title>DATA WORLD</title>
    <link rel="stylesheet" type="text/css" href="static/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Inter&family=League+Spartan:wght@400;500&family=Merriweather&family=Poppins:ital,wght@0,400;1,100;1,400&display=swap"
        rel="stylesheet">
</head>

<body>
    <!--Hero SECTION-->
    <div>
        <!--Hero-TEXT-->
        <div class="hero">
            <div>
                <!--Email &phone-->
                (+91) 70618 05734

                ashwaniraj679@mail.com
            </div>

            <div>
                <!--Name-->
                Hi, I’m Ashwani Raj
            </div>

            <h1>Freelance Front-end Developer and Data Scientist</h1>

            <div class="subtitle">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus turpis ligula, pellentesque a elit in, convallis laoreet metus. Sed aliquet lacinia dictum. In pharetra nunc nisi, ac aliquet est pretium non. </p>
            </div>

            <div>
                <!--Button-->
            </div>

        </div>
        <!--Hero-IMAGE-->
        <div class="image-container">
            <img src="{{url_for('static', filename='Images/hero_img.jpg')}}">
        </div>


    </div>

    <div>
        What I Do
        <h2>With 3+ years of developer and designer experience</h2>
    </div>

    <div>
        Projects
    </div>

    <div>
        Skills
    </div>

    <div>
        Questions
    </div>

    <div>
        Footer
    </div>
</body>

</html>